{% extends 'blog/main.html' %}
{% block title %}Check Crypto Rates{% endblock %}

{% load static %}

{% block content %}

        {% comment %} {% for coin in coins %} {% endcomment %}

        <div class="container container-fluid postContainer px-0"> 
            <div class="row justify-content-between">
                <div class="col-md-4 text-center">
                    <div class="card shadow-sm text-center bg-light">
                        <div class="card-header">
                            <small><em>Source: Binance.com</em></small>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bitcoin (BTC)</h5>
                            <h1 class="card-text">{{ btc_price }}</h1><h5>USDT</h5>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" onClick="window.location.reload();">Refresh</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-sm text-center bg-light">
                        <div class="card-header">
                            <small><em>Source: Binance.com</em></small>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Ethereum (ETH)</h5>
                            <h1 class="card-text">{{ eth_price }}</h1><h5>USDT</h5>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" onClick="window.location.reload();">Refresh</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-sm text-center bg-light">
                        <div class="card-header">
                            <small><em>Source: Binance.com</em></small>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Monero (XMR)</h5>
                            <h1 class="card-text">{{ xmr_price }}</h1><h5>USDT</h5>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" onClick="window.location.reload();">Refresh</button>
                        </div>
                    </div>
                </div>            
            </div>


            <div class="row mt-5 pt-3 text-center">
                <h5>Check prices of all available crypto pairs below:</h5>
                <br>

                <table class="table table-hover crypto_rates_all w-75 mt-2 mx-auto">
                    <thead>
                        <tr class="table-success">
                            <th>Symbol</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in coin_list %}
                            <tr>
                                <td>{{item.symbol}}</td>
                                <td>{{item.price}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


                {% comment %} {{ df_html }} {% endcomment %}

            </div>
        </div>


        {% comment %} <div class="container postContainer w-75"> 
            <ul>
                <li><h5>{{coin.symbol}} | {{coin.name}} | {{coin.real_price}} USD</h5></li>
            </ul>
        </div>   {% endcomment %}

    {% comment %} {% endfor %} {% endcomment %}

{% endblock content %}