{% extends 'blog/main.html' %}
{% block title %}Check Crypto Rates{% endblock %}

{% load static %}

{% block content %}

        {% comment %} {% for coin in coins %} {% endcomment %}

        <div class="container container-fluid postContainer px-0"> 
            <div class="row justify-content-between">
                <div class="col-md-4 text-center">

                    <div class="card shadow-sm text-center bg-light">
                        <div class="card-header">
                            <i>Source: Binance.com</i>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Bitcoin (BTC)</h4>
                            <h1 class="card-text">{{ btc_price }}</h1><h5>USDT</h5>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" onClick="window.location.reload();">Refresh</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-sm text-center bg-light">
                        <div class="card-header">
                            <i>Source: Binance.com</i>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Ethereum (ETH)</h4>
                            <h1 class="card-text">{{ eth_price }}</h1><h5>USDT</h5>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" onClick="window.location.reload();">Refresh</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-sm text-center bg-light">
                        <div class="card-header">
                            <i>Source: Binance.com</i>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Monero (XMR)</h4>
                            <h1 class="card-text">{{ xmr_price }}</h1><h5>USDT</h5>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" onClick="window.location.reload();">Refresh</button>
                        </div>
                    </div>
                </div>            
            </div>
        </div>


        {% comment %} <div class="container postContainer w-75"> 
            <ul>
                <li><h5>{{coin.symbol}} | {{coin.name}} | {{coin.real_price}} USD</h5></li>
            </ul>
        </div>   {% endcomment %}

    {% comment %} {% endfor %} {% endcomment %}

{% endblock content %}