{% comment %} {% extends 'blog/main.html' %} {% endcomment %}
{% load static %}

{% block content %}

<div class="container homeContainer">

    <div class="px-4 py-3 my-2 text-center">
        <img class="d-block mx-auto mb-5" src="{% static '/img/lus-hero.jpg' %}" alt="" width="600">
        <h3 class="display-6 fw-bold mb-4">Welcome to my Django demo site!</h3>
        <div class="col-lg-8 mb-5 mt-5 mx-auto">
            <p class="lead">This site contains two working apps: Blog and Crypto. The Portfolio page is just a placeholder ;)</p>
            <p class="lead"> Please select the one you would like to see by clicking the appropriate button below or use the navigation bar on top of the page.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'post_list' %}" class="btn btn-primary btn-lg px-4 me-sm-3">Blog</a>
                <a href="{% url 'crypto' %}" class="btn btn-success btn-lg px-4 me-sm-3">Crypto</a>
            </div>
        </div>
    </div>

</div>

{% endblock content %}