{% extends 'blog/main.html' %}

{% load static %}

{% block content %}

    <div class="container-xl">
        <h4>Welcome!</h4>
    </div>
    <hr>

    <div class="album py-4 bg-light">
        <div class="container p-2">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 m-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/300/200/?random=1">
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/300/200/?random=2">
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/300/200/?random=3">
                    </div>
                </div>
            </div>  

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 m-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/300/200/?random=4">
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/300/200/?random=5">
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/300/200/?random=6">
                    </div>
                </div>
            </div>


            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 m-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/300/200/?random=7">
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/300/200/?random=8">
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/300/200/?random=9">
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}