{% extends 'blog/main.html' %}
{% block title %}Latest Posts{% endblock %}
{% load static %}

{% block content %}

    <div class="container postContainer mb-2 px-0"> 
        <div class="d-grid gap-2 d-md-flex mx-0 px-0 justify-content-start">
            {% if user.is_authenticated %}
                <a href="{% url 'post_add' %}" class="btn btn-secondary px-3 mx-0 mb-2">Add a new post</a>            
            {% endif %}
        </div>    
    </div>


    {% for post in object_list %}
    
        <div class="container postContainer"> 
            <div class="row px-0 py-3">
                <div class="card shadow-sm text-dark bg-light mx-auto px-0">
                    <div class="card-header px-3">
                        <em><small>Published by <strong>{{ post.author }}</strong> on <strong>{{ post.created_date }}</strong> in <strong>{{ post.category }}</strong>
                        {% if user.is_authenticated %}              
                            | <a href="{% url 'post_update' post.pk %}">Edit</a> | 
                            <a href="{% url 'post_delete' post.pk %}">Delete</a>
                        {% endif %}
                        </small></em>
                    </div>
                        <div class="row px-3 pt-4 pb-3">
                            <div class="col col-md-3 text-center">
                                {% if post.image %}
                                    <img class="post-list-img" src="{{ post.image.url }}" alt="...">
                                {% endif %}
                            </div>
                            <div class="col col-md-9 ps-0 py-0">
                                <div class="card-body ps-0 pe-3 mb-6 pt-0">                                
                                    <h4 class="card-title">{{ post.title }}</h4>
                                    <p class="card-text">{{ post.lead }}</p>
                                </div>
                                <div class="d-grid d-md-flex mt-2 mb-0 pe-3 justify-content-end">
                                    <a href="{% url 'post_text' post.pk %}" class="btn px-4 ms-2 me-0" style="background-color: #5e3a58; color: #fff">Read more...</a>
                                
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="row mb-4 ps-0 pe-2 py-2">

                <div class="col-3 mx-0 text-center">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="...">
                    {% endif %}
                </div>

                <div class="col-9 mx-auto ">
                    <h4>{{ post.title }}</h4>
                    <p class="card-text lh-1"><small class="text-muted"><i>Published by {{ post.author }} on {{ post.created_date }}</i></small></p>
                    <p><i>{{ post.lead }}</i></p>

                    <div class="d-grid gap-2 d-md-flex justify-content-end">
                        <a href="{% url 'post_text' post.pk %}" class="btn btn-success px-4 me-sm-3">Read more...</a>
                    </div>  

                </div>

            </div> {% endcomment %}
        </div>    

    {% endfor %}

{% endblock content %}
