{% extends 'blog/main.html' %}
{% block title %}Create a New Post{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="container w-75 my-1">
            <h2>Add Post...</h2>
            <br>
            <div class="form-group w-75">
                <form method="POST" enctype="multipart/form-data">                
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary px-5">Post</button>                    
                </form>
            </div>        
        </div>

    {% else %}

        <div class="container w-75 my-5">
            <h2>You are not logged in!</h2>
            <br>
            <a href="{% url 'login' %}">Login</a>                                
        </div>
        
    {% endif %}
    
{% endblock content %} 