{% extends 'blog/main.html' %}

{% block content %}

    <div class="container w-75">
        <div class="row g-0 mb-4">
            <div class="col-md-3 mx-auto">
                {% if postText.image %}
                    <img src="{{ postText.image.url }}" alt="...">
                {% endif %}
            </div>
            <div class="col-md-9 mx-auto">
                <h3>{{ postText.title }}</h3>
                <p class="card-text lh-1"><small class="text-muted"><i>Published by {{ postText.author }} on {{ postText.published_date }}</i></small></p>
                <hr>
                <p>{{ postText.lead }}</p>
                <p>{{ postText.text }}</p>
                <p><a href="{% url 'post_list' %}" class="btn btn-success px-4 me-sm-3">Back</a></p>
            </div>
        </div>
    </div>
    
{% endblock content %} 