body {
    background-color:#ffffff;
    height: 1200px;
}

nav {
    background-color: #83cdff;
}

/* .nav-item {

} */

.nav-link {
    color: #141414;
}

.mainContainer {
    /* background-color:floralwhite; */
    padding-top: 2em;
}

.navbar-brand {
    color:black;
    font-weight: 500;
}

/* .album {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#carouselExampleIndicators {
    margin: auto;
} */


/* .navbar-nav {
    margin: auto;
} */

/* .postContainer {
    padding-left: 5px;
    padding-right: 5px;
} */

/* .navContainer {
    margin: auto;
} */

/* .navbar-expand-lg {
    margin: auto;
} */
